/* For ipad pro-desktop */

@media only screen and (max-width:1024px){       

    /* Reusable components */

    .container {
        margin: 2rem 0rem;
        padding: 1.5rem;
    }

    .title {
        display: block;
        font-size: 1.5em;
        margin: 1rem 0rem;
      }

    .flex__containers {
        flex-wrap: wrap-reverse;
    }

    /* Navigation */

    .user-nav,
    .user-nav__section {
        width: 75%;
    }

    /* Introduction */

    .search {
        margin: 1.5rem 0rem;
    }

    /* Filters */

    /* Information */

    .information__container {
        margin: 1.5rem 0rem;
    }

    /* Accommodation */

    .accommodation__container {
        width: 100%;
        margin: 0rem;
    }

    .accommodation__cardcontainer {
        margin-top: 2rem;
    }

    /* Popular */

    .popular__container {
        width: 100%;
        padding: 1.5rem;
    }

    .popular__cardcontainer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    .popular__card {
        width: 30%;
        margin: 1rem 0rem;
    }

    /* Activities */

    .activities__header {
        margin: 2rem 0rem;
    }

    .activities__cardcontainer-1 {
        width: 48.5%;
        margin-right: 1.5rem;
    }

    .activities__cardcontainer-2 {
        width: 48.5%;
        margin: 0rem;
    }

    .activities__grid {
        grid-gap: 0.5rem 1.5rem;
    }

}

/* ipad */

@media only screen and (max-width: 768px) {

    /* Reusable components */

    .title {
        display: block;
        font-size: 1.5em;
        margin: 1rem 0rem;
      }

    .container {
        margin: 1rem 0rem;
    }

    /* Introduction */

    .search {
        margin: 1rem 0rem;
    }

    /* Navigation */

    .user-nav,
    .user-nav__section {
        width: 65%;
    }

    /* Filters */

    .filter__title {
        align-self: flex-start;
        padding: 0rem;
        margin: .5rem 0rem;
    }

    .filter__choice {
        margin: .5rem .5rem .5rem 0rem
    }

    /* Information */

    .information__container {
        width: 50%;
        margin: 1rem 0rem;
    }

    /* Popular */

    .popular__card {
        width: 90%;
        height: 12rem;
        margin: 1.5rem 0rem;
    }

    .popular__hotelinformation {
        left: 14.5rem;
      }

    /* Activities */

    .activities__header {
        margin: 1rem 0rem;
    }

    .activities__cardcontainer-1 {
        width: 100%;
        margin-right: 0;
      }
      
    .activities__cardcontainer-2 {
        width: 100%;
        margin: 0;
      }

    .activities__grid {
        grid-gap: 0.5rem 2rem;
    }

    /* footer */

    .footer {
        padding: 2rem;
    }

    .footer__section {
        padding: 0rem 2rem;
    }

    .footer__title {
        letter-spacing: 0;
        margin: 0rem 0rem .5rem 0rem;
    }

    .footer__list {
        width: 90%;
    }
}

/* phone */

@media only screen and (max-width: 600px) {

    body {
        margin: 0rem;
    }

    /* Reusable components */

    .card {
        width: 100%;
    }

    .container {
        width: 100%;
        margin: 0rem;
        border-radius: 0px;
    }
    
    /* Logo */

    .logo {
        height: 3rem;
        margin: 1rem;
      }

    /* Naviation */

    .header {
        display: grid;
        grid-template-rows: 4rem 4rem;
        grid-template-columns: 50% 50%;
        align-items: center;
    }

    .user-nav,
    .user-nav__section {
        width: 100%;
        justify-content: space-around;
    }

    .user-nav__item,
    .user-nav__signUp {
        cursor: pointer;
}

    .user-nav__item {
        text-align: center;
    }

    .user-nav__signUp {
        padding: 2rem 1rem;
        margin: 1rem;
        text-align: right;
    }

    .user-nav__item {
        width: 50%;
        border-top: 0px solid transparent;
        border-bottom: 2px solid #f2f2f2;
    }
    
    .user-nav__item:hover {
        border-top: 0px;
        border-bottom: 2px solid #0065fc;
        color: #0065fc;
    }

    .topright {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }

    .topleft {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    .bottom{
        grid-row: 2 / 3;
        grid-column: 1 / 3;
    }

    /*introduction & search*/

    .searchSection {
        margin: 2.5rem 1rem .5rem 1rem;
    }

    .search {
        width: auto;
        margin: 1rem 0rem .5rem 0rem;
    }

    .search__input {
        max-width: 12rem;
    }

    .search__small {
        display:inline-block;
      }
    
    .search__large {
        display:none;
    }

    /*Filters*/

    .filters {
        margin: 1rem 1rem;
    }

    .filter__options {
        margin: .25rem 0rem;
    }

    .filter__choice {
        margin: .25rem;
    }

    /*Information*/

    .information__container {
        width: 90vw;
        margin: 2rem 1rem;
    }

    /*Accommodations*/

    .accommodation__container {
        background-color: white;
    }

    .accommodation__cardcontainer {
        margin-top: 1.5rem;
      }

    .accommodation__image {
        height: 90%;
    }

    .accommodation__hotelname,
    .accommodation__price,
    .accommodation__rating {
        margin: 0.1rem 1rem;
    }

    .accommodation__information {
        height: 4.5rem;
    }

    .accommodation__expand {
        margin: 0rem;
    }

    /*most popular*/

    .popular__image {
        width: 60%;
    }

    .popular__hotelinformation {
        left: 10rem;
    }

    /* Activities */

    .activities {
        margin: 0rem 1rem;
    }

    .activities__grid {
        display: block;
    }

    .activities__card {
        height: 12rem;
    }


    /*Footer*/

    .footer {
        margin: 0rem;
        padding: 1rem 0rem;
    }

    .footer__content {
        display: block;
    }

    .footer__section {
        width: 100%;
        margin: 2rem 0rem;
    }

    .footer__list li {
        margin: .5rem 0rem;
      }     
}