* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 0rem 3rem;
}

/* Reusable components */

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: black;
}

.card {
  background-color: white;
  padding: 0.2rem;
  border: 1px solid #f2f2f2;
  margin-bottom: 2rem;
  border-radius: 20px;
  box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.18);
}

.card__content {
  width: 100%;
  height: 100%;
}

.container {
  background-color: #f2f2f2;
  padding: 2.5rem 2rem;
  margin: 1rem;
  max-width: 1000px;
  height: auto;
  border-radius: 20px;
}

.title {
  display: block;
  font-size: 1.5em;
  margin: 0rem 0rem 1.5rem 0rem;
}

.flex__containers {
  display: flex;
}

.card-link {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  cursor: pointer;
}

.btn-animation:hover {
  transition: 0.5s;
  transform: translateY(-4px);
  box-shadow: 0 1rem 2rem rgba(0,0,0, 0.2);
}

.btn-animation:active,
.btn-animation:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0,0,0, 0.2);
}

/* Logo */

.logo {
  height: 2rem;
}

/* Naviation */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-nav,
.user-nav__section {
  display: flex;
  align-items: center;
  align-self: center;
  height: 100%;
  width: 85%;
  justify-content: flex-end;
}

.user-nav__item,
.user-nav__signUp {
  padding: 2rem 2rem;
  cursor: pointer;
}

.user-nav__item {
  border-top: 2px solid transparent;
}

.user-nav__item:hover {
  border-top: 2px solid #0065fc;
  color: #0065fc;
}

.user-nav__signUp-name {
  font-weight: bold;
  color: #0065fc;
}

/*introduction & search*/

.intro__header,
.intro__paragraph {
  margin: 0.5rem 0;
}

.search {
  margin: 1rem 0;
  width: 30rem;
  display: flex;
}

input:focus {
    opacity: 0;
}

.fa-map-marker-alt,
.search__input,
.search__button {
  padding: 0.75rem 1rem;
  font-weight: 700;
  font-size: 1rem;
}

.search__input,
.search__button {
  border: 1px solid #f2f2f2;
}

.fa-map-marker-alt {
  background-color: #f2f2f2;
  border-radius: 15px 0 0 15px;
  width: 3rem;
  display: flex!important;
  align-items: center;
  justify-content: center;
}

.search__input {
  width: 17rem;
  color: black;
}

.search__input::placeholder {
  color: black;
}

.search__input:focus {
  outline: none;
}

.search__button {
  border-radius: 0px 15px 15px 0px;
  background-color: #0065fc;
  color: white;
}

.search__small {
  display:none;
}

/*Filters*/

.filters {
  display: flex;
  margin: 1rem 0rem;
  align-items: center;
  flex-wrap: wrap;
}

.filter__title {
  padding: 0rem 2rem 0rem 0rem;
}

.filter__options {
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
}


.filter__choice {
  display: inline-block;
  height: 3.2rem;
  line-height: 3rem;
  border: 2px solid #f2f2f2;
  border-radius: 30px;
  margin: 1rem;
  padding: 0rem 1.5rem 0rem 0rem;
  cursor: pointer;
  transition: 0.2s;
}

.filter__choice:hover {
  background-color: #0065fc;
  color: white;
}

.filter__icon {
  float: left;
  display: flex!important;
  align-items: center;
  justify-content: center;
  background-color: #deebff;
  color: #0065fc;
  padding: 1.2rem;
  border-radius: 50%;
  margin: -.1rem .5rem 0 -0.1rem;
  height: 3.1rem;
  width: 3.1rem;
}

/*Information*/

.information__container {
  display: flex;
  width: 30%;
  margin: 0rem;
}

.information__icon {
  background-color: white;
  color: #0065fc;
  padding: 0.3rem 0.6rem;
  border-radius: 100%;
  border: 1px solid #f2f2f2;
  margin-right: 1rem;
  align-self: flex-start;
}

.information__paragraph {
  display: flex;
  font-weight: 500;
}

/*Accommodations*/

.accommodation__container {
  width: 65%;
  margin: 1rem 1.5rem 1rem 0rem;
}

.accommodation__cardcontainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.accommodation__card {
  width: 15rem;
  height: 13em;
  position: relative;
  flex-wrap: wrap;
}

.accommodation__image {
  width: 100%;
  height: 90%;
  border-radius: 20px;
  position: relative;
}

.accommodation__information {
  background-color: white;
  position: absolute;
  height: 5rem;
  width: 100%;
  bottom: 0rem;
  left: 0rem;
  border-radius: 0 0 20px 20px;
}

.accommodation__hotelname,
.accommodation__price,
.accommodation__rating {
  margin: 0.2rem 1rem;
}

.accommodation__hotelname {
  font-size: 1rem;
  padding-top: .3rem;
}

.accommodation__price {
  font-size: 0.9rem;
}

.fa-star {
  font-size: 0.75rem;
}

.rating__star {
  color: #f2f2f2;
}

.rating__star-active {
  color: #0065fc;
}

.accommodation__expand {
  font-size: 1.2rem;
  margin: 1rem 0rem;
}

/*most popular*/

.popular__title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.fa-chart-line {
  font-size: 1.5rem;
}

.popular__container {
  width: 31%;
  padding: 2.5rem 2.5rem 0rem 2rem;
}

.popular__card {
  width: 100%;
  height: 10rem;
  position: relative;
}

.popular__image {
  width: 50%;
  height: 100%;
  border-radius: 20px;
  position: relative;
}

.popular__hotelname,
.popular__price,
.popular__rating {
  margin: 0.2rem 1rem;
}

.popular__hotelname {
  font-size: 1rem;
}

.popular__price {
  font-size: 0.9rem;
}

.popular__hotelinformation {
  background-color: white;
  position: absolute;
  height: 100%;
  bottom: 0rem;
  left: 9rem;
  border-radius: 0 20px 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Activities */

.activities {
  margin-bottom: 2rem;
}

.activities__header {
  margin-top: 2rem;
}

.activites__flex {
  display: flex;
}

.activities__cardcontainer-1 {
  width: 50%;
  margin-right: 2rem;
}

.activities__cardcontainer-2 {
  width: 50%;
  margin: 0rem 1rem;
}


.activities__card {
  position: relative;
  padding: 0;
}

.activities__grid {
  width: 100%;
  min-height: 28rem;
  display: grid;
  grid-gap: 0.5rem 3rem;
  grid-template: repeat(8, 3rem) / repeat(6, 1fr);
}

.grid__row-large {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 9;
}

.grid__row-medium {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 6;
}

.grid__row-small {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 9;
}

.grid__row-halftop {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 5;
}

.grid__row-halfbottom {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 9;
}

.activities__image {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  position: relative;
}

.activities__information {
  background-color: white;
  position: absolute;
  height: 3rem;
  width: 100%;
  bottom: 0rem;
  left: 0rem;
  border-radius: 0 0 20px 20px;
}

.activities__name {
  margin: 1rem;
}

/*Footer*/

.footer {
  margin: 0rem -3rem;
  padding: 2rem 5rem;
  background-color: #f2f2f2;
}

.footer__content {
  display: flex;
}

.footer__section {
  width: 34%;
}

.footer__title {
  letter-spacing: 0.1rem;
  margin: 0rem 0rem 1.5rem 0rem;
}

.footer__list {
  list-style-type: none;
}

.footer__list li {
  margin: 1rem 0rem;
}
